<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/college_website/style.css" />
  </head>
  <body>
    <section class="header-section">
      <div class="container-fluid p-0">
        <img
          src="/college_website/images/header.jpg"
          alt="College Header"
          class="header-img"
        />
      </div>
    </section>
     <section class="bg-warning d-flex align-items-center">
  <nav class="navbar navbar-expand-lg navbar-custom bg-warning">
  <div class="container-fluid">

    <!-- TOGGLER -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAV LINKS -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto align-items-center">

        <!-- HOME ICON -->
        <li class="nav-item">
          <a class="nav-link" href="" data-home="home">
            <i class="fas fa-house"></i>
          </a>
        </li>

        <!-- HOME SECTIONS -->
        <li class="nav-item">
          <a class="nav-link" href="" data-home="about">About Us</a>
        </li>

        <!-- ACADEMICS -->
        <li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Academics
  </a>

  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="/college_website/academics/courses.html">
        Courses
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="/college_website/academics/departments.html">
        Departments
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="/college_website/academics/academic-calendar.html">
        Academic Calendar
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="/college_website/academics/syllabus.html">
        Syllabus
      </a>
    </li>
  </ul>
</li>


        <!-- ADMISSION -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            Admission
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="admission/ug.html">UG</a></li>
            <li><a class="dropdown-item" href="admission/pg.html">PG</a></li>
            <li><a class="dropdown-item" href="admission/phd.html">PhD</a></li>
            <li><a class="dropdown-item" href="admission/notice.html">Admission Notice</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            Colleges
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="admission/ug.html">UG</a></li>
            <li><a class="dropdown-item" href="admission/pg.html">PG</a></li>
            <li><a class="dropdown-item" href="admission/phd.html">PhD</a></li>
            <li><a class="dropdown-item" href="admission/notice.html">Admission Notice</a></li>
          </ul>
        </li>
        <!-- FACILITIES -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            Facilities
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="facilities/library.html">Library</a></li>
            <li><a class="dropdown-item" href="facilities/hostel.html">Hostel</a></li>
            <li><a class="dropdown-item" href="facilities/labs.html">Laboratories</a></li>
            <li><a class="dropdown-item" href="facilities/sports.html">Sports</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-home="placement">Placements</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="" data-home="research">Research</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="" data-home="campus">Life at Campus</a>
        </li>


        <!-- CELLS / MISC -->
        <li class="nav-item">
          <a class="nav-link" href="" data-home="cell">Cell / Misc</a>
        </li>

        <!-- LOGIN -->
        <li class="nav-item">
          <a class="nav-link btn btn-dark text-white px-3 ms-lg-2" href="login.html">
            Login
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

</section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<script src="partials.js"></script>  
</body>
</html>
