<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/college_website/style.css" />
  </head>
  <body>
    <section class="header-section">
      <div class="container-fluid p-0">
        <img
          src="/college_website/images/header.jpg"
          alt="College Header"
          class="header-img"
        />
      </div>
    </section>
     <section class="bg-warning d-flex align-items-center">
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">

      <!-- TOGGLER -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbar"
        aria-controls="mainNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- COLLAPSIBLE MENU -->
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav me-auto align-items-center">

          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-house"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#about">About us</a>
          </li>

          <!-- Academics -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              Academics
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Courses</a></li>
              <li><a class="dropdown-item" href="#">Departments</a></li>
              <li><a class="dropdown-item" href="#">Academic Calendar</a></li>
              <li><a class="dropdown-item" href="#">Syllabus</a></li>
            </ul>
          </li>

          <!-- Admission -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              Admission
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">UG</a></li>
              <li><a class="dropdown-item" href="#">PG</a></li>
              <li><a class="dropdown-item" href="#">PhD</a></li>
              <li><a class="dropdown-item" href="#">Admission Notice</a></li>
            </ul>
          </li>

          <!-- Facility -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              Facility
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Library</a></li>
              <li><a class="dropdown-item" href="#">Hostel</a></li>
              <li><a class="dropdown-item" href="#">Laboratories</a></li>
              <li><a class="dropdown-item" href="#">Sports</a></li>
            </ul>
          </li>

          <!-- Colleges -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              Colleges
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Engineering</a></li>
              <li><a class="dropdown-item" href="#">Science</a></li>
              <li><a class="dropdown-item" href="#">Arts</a></li>
              <li><a class="dropdown-item" href="#">Commerece</a></li>
              <li><a class="dropdown-item" href="#">Nursing</a></li>
              <li><a class="dropdown-item" href="#">Law</a></li>
              <li><a class="dropdown-item" href="#">Management</a></li>
            </ul>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#placement">Placements</a>
          </li>
          

          <li class="nav-item">
            <a class="nav-link" href="#research">Research</a>
          </li>

          <!-- Accreditation -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              Accreditation
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">IQAC</a></li>
              <li><a class="dropdown-item" href="#">NAAC</a></li>
              <li><a class="dropdown-item" href="#">NIRF</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#cell">Cell/Misc</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#campus">Life at Campus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#login">Login</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
